/*
|----------------------------------------------------
| Main config
|----------------------------------------------------
*/
html, body {
  height: 100%;
}

body {
  color: $text-color;
  margin-top: 40px;
  font-family: $font-family;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  padding: 0;
  max-width: $desktop-screen;
}

.list-custom {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-right { text-align: right; }
.text-center { text-align: center; }

a {
  color: $brand-color;
}

.main-content {
  padding: 20px;
}
/*
|----------------------------------------------------
| Templates
|----------------------------------------------------
*/

/* | Pages template | */
.page-template {
  background-color: $grey-color;

  .container {
    background-color: #fff;

    @media (min-width: $desktop-screen) {
      min-height: 500px;
    }
  }

  .page-section {
    h1:first-child { margin-top: 0; }
    & + .page-section { margin-top: 3em; }
  }

  .container-games {
    .game-item {
      text-align: center;

      .game-thumb {
        height: 140px;
        border: 1px solid #eee;
        background-color: #efefef;
      }

      .game-title {
        font-size: 1.2em;

        a {
          @include reset-link;
        }
      }
    }
  }

  .section-header {
    .col-md-4 {
      text-align: right;
    }

    .btn {
      position: relative;
      top: 10px;
      font-size: .9em;
      padding: 6px 15px;
    }
  }
}

/* | Game template | */
.game-template {
  background-image: url(../images/bg-cream-pixels.png);

  .container {
    max-width: 900px;
    height: 560px;

    border-radius: 4px;
    background-color: #fefefe;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
}

/*
|----------------------------------------------------
| Nav bar
|----------------------------------------------------
*/

.navbar {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 10px;

  color: #fff;
  background-color: $brand-color;

  ul {
    @include reset-list;

    li {
      @include reset-list;

      display: inline-block;
      height: 100%;

      a {
        &:hover,
        &:focus {
          background-color: lighten($brand-color, 5%);
        }
      }
    }
  }

  div {
    padding: 0;
  }

  .col-brand {
    text-align: center;
      border-right: 1px solid #ff838f;

    .logo-brand {
      font-size: 1em;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    height: 100%;
  }

  .logout {
    position: absolute;
    right: 10px;
    top: 3px;
    font-size: .8em;

    &:hover,
    &:focus {
      color: #eee;
      text-decoration: underline;
    }
  }
}

/*
|----------------------------------------------------
| Buttons
|----------------------------------------------------
*/

.btn {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #fff;
  color: $text-color;
  padding: 8px 20px;
  border-radius: 3px;

  text-decoration: none;
}

.btn-small {
  padding: 6px 15px;
  font-size: .9em;
}

.btn-default {
  color: $grey-color;
  border-color: lighten($grey-color, 10%);
}

.btn-main {
  color: #fff;
  border-color: darken($brand-color, 5%);
  background-color: $brand-color;
}

.btn-blue {
  color: #fff;
  border-color: darken($blue-color, 25%);
  background-color: $blue-color;
}

.btn-red {
  color: #fff;
  border-color: darken($red-color, 25%);
  background-color: $red-color;
}

.btn-green {
  color: darken($green-color, 35%);;
  border-color: darken($green-color, 30%);
  background-color: $green-color;
}

.btn-link {
  color: $grey-color;

  &:hover {
    text-decoration: underline;
  }
}

.btn-action {
  color: $grey-color;
  border-color: #ccc;
  -webkit-transition: all .2s;
  transition: all .2s;

  &:hover {
    border-color: $grey-color;
    background-color: #fefefe;

    -webkit-transition: all .2s;
    transition: all .2s;
  }
}


/*
|---------------------------------------------
| Messages
|---------------------------------------------
*/
.message {
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  font-size: .9em;
}

.message-info {
  color: #fff;
  background-color: #649ef0;
}

.message-important {
  color: #fff;
  background-color: #de4f4f;
}

.alert {
  p,
  ul {
    margin: 0 0 0 1em;
    padding: 0;
  }
}

/*
|----------------------------------------------------
| Forms
|----------------------------------------------------
*/

.form-default {
  label {
    display: block;
  }

  .form-group + .form-group { margin-top: 1em; }
}

/* | Inputs (text, password, email, select, textarea, etc) | */
.input-control {
  color: $text-color;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 8px;
}

.input-control:disabled {
  background-color: #efefef;
  cursor: not-allowed;
}

.input-size-mini { width: 10%; }
.input-size-small { width: 20%; }
.input-size-medium { width: 40%; }
.input-size-large { width: 60%; }
.input-size-largex { width: 80%; }
.input-size-full { width: 100%; }

.input-search {
  display: block;
  width: 80%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 1.5em;
}

.custom-checkbox {
  input[type="checkbox"] {
    position: relative;
    top: 2px;
  }
}

/*
|----------------------------------------------------
| Game
|----------------------------------------------------
*/

.game {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 560px;

  .stage {
    display: inline-block;
    width: 100%;
  }

  .page-select-type {
    position: relative;
  }

  .game-type {
    display: table;
    width: 100%;
    height: 560px;


    .game-type-item {
      position: relative;
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;

      object {
        width: 80px;
        height: auto;

        svg {
          width: 80px;
          height: auto;
        }
      }

      &:hover {

      }

      &.selected {
        &::after {
          visibility: visible;
          @include animation-all(0.2s);
          opacity: 1;
        }
      }

      &::after {
        content: '';
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 66px;
        height: 68px;
        z-index: 2;
        left: 40px;
        top: 50%;
        margin-top: -32px;
        background-image: url(../images/hand-pointer-o.svg);
        background-repeat: no-repeat;
      }

      &:nth-of-type(2) {
        color: #fff;
        background-color: #333;
      }

    }
  }

  .game-page {
    visibility: hidden;
    display: none;

    &.active {
      visibility: visible;
      display: block;
    }

    .message {
      position: absolute;
      top: 20px;
      left: 50%;
      width: 260px;
      margin-left: -130px;
      z-index: 4;
    }

    .btn.back-page {
      position: absolute;
      left: 20px;
      bottom: 20px;

      padding-left: 36px;
      text-transform: uppercase;
      font-size: 0.9em;

      &::after {
        content: '';
        position: absolute;
        top: 1px;
        left: 8px;
        width: 18px;
        height: 32px;
        background-image: url(../images/long-arrow-left.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        overflow: hidden;
      }

      &:focus,
      &:hover {
        color: #fff;
        background-color: $blue-color;
      }
    }
  }
}

/* | Game - select level | */
.game-level-options .level-items {

  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;

  li {

    .btn-level {
      font-size: 1.6em;
      padding: 30px 40px;
      border-radius: 8px;
      background-color: #eee;

      &.selected {
        color: #fff;
        background-color: $blue-color;
      }
    }
  }
}

/* | Game - preloader | */

.preloader {

  padding: 200px 20px 20px;

  .preloader-status {
    position: relative;
    width: 400px;
    margin: 0 auto;
    height: 10px;
    border-radius: 14px;
    background-color: #efefef;
    border: 1px solid #c3c3c3;
    overflow: hidden;
  }

  .preloader-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    max-width: 100%;
    background-color: $blue-color;
  }
}

/* | Game - "engine" | */

.score {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 14px;

  color: #1c7716;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;

  background-color: #c3f6c0;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1) inset;
  border-radius: 4px;
}

.treadmill {
  position: absolute;
  bottom: 230px;
  height: 25px;

  width: 100%;
  border-radius: 20px;
  background-color: #4c90d5;
  text-align: center;

  img.rotating + img.rotating {
    margin-left: 40px;
  }

  .question-container {
    position: absolute;
    top: -200px;
    left: -160px;

    width: 140px;
    height: 200px;
    display: table;

    .question-base {
      position: absolute;
      bottom: 0;

      height: 15px;
      width: 100%;

      border-radius: 10px;
      background-color: #7f5d60;
    }

    .question-items {
      display: table;
      height: 189px;
      width: 100%;
      max-width: 140px;
      vertical-align: bottom;

      .question-item {
        display: table-cell;
        vertical-align: bottom;
      }

      img {
        width: 32px;

        & + img {
          margin-left: 2px;
        }
      }
    }
  }
}

.answers {
  position: absolute;
  bottom: 30px;
  width: 100%;

  .list-answers {
    text-align: center;

    li {
      display: inline-block;

      & + li {
        margin-left: 80px;
      }

      .btn {
        position: relative;
        width: 120px;
        padding: 20px 0px;

        font-size: 28px;
        font-weight: bold;

        border-width: 2px;
        background-color: #efefef;

        -vendor-animation-delay: 1.5s;
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;

        &.selected {
          border-color: #de4f4f;

          &::after {
            visibility: visible;
            @include animation-all(0.2s);
            opacity: 1;
          }
        }

        &::after {
          content: '';
          position: absolute;
          z-index: 2;
          left: -68px;
          top: 50%;

          opacity: 0;
          visibility: hidden;

          width: 66px;
          height: 68px;
          margin-top: -32px;

          background-image: url(../images/hand-pointer-o.svg);
          background-repeat: no-repeat;
        }
      }
    }
  }
}


@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}

@-webkit-keyframes question-move {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -webkit-transform: translateX(1060px);
    transform: translateX(1060px);
  }
}

@keyframes question-move {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -webkit-transform: translateX(1060px);
    transform: translateX(1060px);
  }
}

.question-move {
  -webkit-animation: question-move linear 16s infinite;
  animation: question-move linear 16s infinite;
}


/* | Final page of the game | */
.page-start-again {
  text-align: center;

  h2 {
    font-size: 50px;
    margin-top: 140px;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .btn {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -68px;
      top: 50%;
      z-index: 2;

      width: 66px;
      height: 68px;
      margin-top: -32px;

      background-image: url(../images/hand-pointer-o.svg);
      background-repeat: no-repeat;
    }
  }
}
