@mixin animation-all($speed) {
  -webkit-transition: all $speed;
          transition: all $speed;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
  color: $text-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
