$grey-color: #585858;
$blue-color: #649ef0;
$red-color: #f06464;
$green-color: #9ff3c7;

$brand-color: #ff6978;

$text-color: #585858;
$font-family: 'Source Sans Pro', sans-serif;

$desktop-screen: 1080px;
