$grey: #585858;
$blue: #649ef0;
$red: #f06464;
$yellow: #f0f064;
$green: #9ff3c7;
$green-lighter: #edfff6;

$brand-color: #4DB6AC ;

$text-color: #585858;
$font-family: 'Source Sans Pro', sans-serif;

$desktop-screen: 1080px;
